USE [master]
GO
/****** Object:  Database [banking]    Script Date: 9/6/2019 11:01:25 AM ******/
CREATE DATABASE [banking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'banking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCALHOST\MSSQL\DATA\banking.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'banking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.LOCALHOST\MSSQL\DATA\banking_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [banking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [banking]
GO
/****** Object:  Table [dbo].[accountDetails]    Script Date: 9/6/2019 11:01:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accountDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[concept] [varchar](200) NULL,
	[import] [float] NULL,
	[balance] [float] NULL,
	[originate] [varchar](200) NULL,
	[destination] [varchar](200) NULL,
	[recivername] [varchar](200) NULL,
	[aid] [int] NULL,
	[transType] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 9/6/2019 11:01:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accounts](
	[aid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[ano] [varchar](200) NULL,
	[balance] [float] NULL,
	[available] [float] NULL,
	[uid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[deposits]    Script Date: 9/6/2019 11:01:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[deposits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[u_id] [int] NULL,
	[date] [datetime] NULL,
	[concept] [varchar](200) NULL,
	[amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[expenses]    Script Date: 9/6/2019 11:01:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[expenses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[name] [varchar](200) NULL,
	[description] [varchar](200) NULL,
	[amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 9/6/2019 11:01:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[city] [varchar](200) NULL,
	[country] [varchar](200) NULL,
	[picture] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[accountDetails] ADD  DEFAULT ((0)) FOR [transType]
GO
ALTER TABLE [dbo].[accountDetails]  WITH CHECK ADD FOREIGN KEY([aid])
REFERENCES [dbo].[accounts] ([aid])
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD FOREIGN KEY([uid])
REFERENCES [dbo].[USER] ([uid])
GO
ALTER TABLE [dbo].[deposits]  WITH CHECK ADD FOREIGN KEY([u_id])
REFERENCES [dbo].[USER] ([uid])
GO
USE [master]
GO
